
<div class="col-sm-3">
	<h1>Users info</h1>
	<table class="table table-striped">
		<tr><%= attachment_image_tag user, :profile_image,  style:"width: 100px;heigh: 100px;", fallback: "no_image.jpg"%>
		</tr>
		<tr>
			<th>name</th>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<th>introduction</th>
			<td><%= user.introduction %></td>
		</tr>
	</table>
	<%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>

		<br>
	<h2>New book</h2>
	<%= form_for(book) do |f| %>

		<h4>title</h4>
		<%= f.text_field :title %>

		<h4>body</h4>
		<%= f.text_area :body %>

	    <%= f.submit 'create book' %>

	<% end %>
</div>